// app global css

#first-title
  text-shadow: 2px 1px 5px #000
  margin-top:0px;

#input-search
  .q-input
    width: 70%;
    opacity:0.6;
  .q-field__native
    font-weight: bold;
  .q-field__native,
  .q-field__label,
  .q-placeholder
    color:white;

.page-index
  .q-card
    .text-h6
      font-size: 1rem;
      line-height: 1.3rem;


